**.o
**.a
**.pyc
Makefile.in
Makefile
.deps
aclocal.m4
autom4te.cache
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
ns-3.20/build/
ns-3.20/.lock-waf*
ns-3.20/.waf*
iCS/bin/iCS
iCS/libtool
iCS/src/config.h
iCS/src/config.h.in
iCS/src/iCS
iCS/src/stamp-h1
iCS/ltmain.sh
iTETRIS-Applications/traffic-monitor/src/config.h
iTETRIS-Applications/traffic-monitor/src/config.h.in
iTETRIS-Applications/traffic-monitor/src/protocolspeed
iTETRIS-Applications/traffic-monitor/src/stamp-h1
iTETRIS-Applications/traffic-monitor/acosta/*.txt
iTETRIS-Applications/traffic-monitor/acosta/sumo/*_output.xml
iCS/docs/man/
iCS/docs/html/
iCS/docs/latex/
