**.o
**.a
**.pyc
Makefile.in
Makefile
.deps
aclocal.m4
autom4te.cache
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
/bin
/lib
/include
/share
ns-3.20/build/
ns-3.20/.lock-waf*
ns-3.20/.waf*
iCS/bin/iCS
iCS/libtool
iCS/src/config.h
iCS/src/config.h.in
iCS/src/iCS
iCS/src/stamp-h1
iCS/ltmain.sh
iTETRIS-Applications/*/src/config.h
iTETRIS-Applications/*/src/config.h.in
iTETRIS-Applications/traffic-monitor/src/protocolspeed
iTETRIS-Applications/*/src/stamp-h1
iTETRIS-Applications/traffic-monitor/acosta/*.txt
iTETRIS-Applications/traffic-monitor/acosta/sumo/*_output.xml
iTETRIS-Applications/testApp/acosta/*.txt
iTETRIS-Applications/testApp/acosta/sumo/*_output.xml
iTETRIS-Applications/testApp/src/config.h
iTETRIS-Applications/testApp/src/config.h.in
iTETRIS-Applications/testApp/src/testApp
iTETRIS-Applications/testApp/src/stamp-h1
iTETRIS-Applications/testApp/testScenario/app-data.txt
iTETRIS-Applications/testApp/testScenario/app-log.txt
iTETRIS-Applications/testApp/testScenario/app-ns-log.txt
iTETRIS-Applications/testApp/testScenario/ics-log-50.txt
iTETRIS-Applications/testApp/testScenario/ns3-log-50.txt
iTETRIS-Applications/testApp/testScenario/sumo/sumo_log.txt
iTETRIS-Applications/testApp/acosta/sumo/sumo_log.txt
iTETRIS-Applications/exampleApp/src/exampleApp
iTETRIS-Applications/protocolspeed/src/protocolspeedApp
iTETRIS-Applications/transaidUC1App/src/uc1App
iTETRIS-Applications/transaidUC2App/src/uc2App
iTETRIS-Applications/transaidUC3App/src/uc3App
iTETRIS-Applications/transaidUC4App/src/uc4App
iTETRIS-Applications/transaidUC5App/src/uc5App
iTETRIS-Applications/transaidUC45App/src/uc45App
TransAIDScenarios/**/outputSSM.xml
TransAIDScenarios/**/outputEmission.xml
TransAIDScenarios/**/outputLaneChanges.xml
TransAIDScenarios/**/outputMeandata.xml
TransAIDScenarios/**/outputQueue.xml
TransAIDScenarios/**/outputSummary.xml
TransAIDScenarios/**/*log*.txt
TransAIDScenarios/**/app-data.txt
TransAIDScenarios/**/loop.xml
TransAIDScenarios/**/area.xml
TransAIDScenarios/**/E2.xml
TransAIDScenarios/**/Latency.csv
TransAIDScenarios/**/Latency.csv
TransAIDScenarios/**/NAR.csv
TransAIDScenarios/**/NIR.csv
TransAIDScenarios/**/PDR.csv
TransAIDScenarios/**/PDR_CAM.csv
TransAIDScenarios/**/PDR_CPM.csv
TransAIDScenarios/**/PDR_MCM.csv
iCS/docs/man/
iCS/docs/html/
iCS/docs/latex/
LightCommSimulator/src/config.h
LightCommSimulator/src/config.h.in
LightCommSimulator/src/lightcomm
.project
**.project
**.settings
**.cproject
**.pydevproject
**language.settings.xml
.vscode
*.code-workspace
iTETRIS-Applications/testApp/testScenario/sumo/*.xml
iTETRIS-Applications/testApp/testScenario/*.txt
iTETRIS-Applications/testApp/docs/html
iTETRIS-Applications/testApp/docs/man
iTETRIS-Applications/testApp/docs/latex
iTETRIS-Applications/**/confdefs.h
iTETRIS-Applications/**/conftest.c
iTETRIS-Applications/**/conftest.err
TransAIDScenarios/**/los_*
iCS/tests/iCS/**/data/*.csv
.idea/
CMakeLists.txt
cmake-build-debug/
**/cmake-build-debug/

