**.o
**.a
**.pyc
Makefile.in
Makefile
.deps
autom4te.cache
ns-3.20/build/
ns-3.20/.lock-waf*
ns-3.20/.waf*
iCS/bin/iCS
iCS/config.log
iCS/config.status
iCS/libtool
iCS/src/config.h
iCS/src/config.h.in
iCS/src/iCS
iCS/src/stamp-h1
iCS/configure
iCS/ltmain.sh
aclocal.m4
